{
  "android": {
    "keystore": {
      "keystorePath": "../authentication/siwg/sock-graveyard.jks",
      "keystorePassword": "YOUR_KEYSTORE_PASSWORD_HERE",
      "keyAlias": "YOUR_KEY_ALIAS_HERE",
      "keyPassword": "YOUR_KEY_PASSWORD_HERE"
    }
  }
}
